{% extends 'base.html' %}

<!-- login title -->
{% block title %}登入{% endblock %}
<!-- login css files -->
{% block link %}{% endblock %}

<!-- login contnet -->
{% block content %}
  <div class="container">
    <!-- 如果有訊息，印出提示訊息 -->
    {% for msg in messages %}
      <div class="alert alert-{{msg.tags}}" role="alert">{{msg}}</div>
    {% endfor %}

    <form action="." method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="account">Account</label>
        <input type="text" name="username" class="form-control" id="account" aria-describedby="emailHelp" placeholder="Account" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password"  name="userPwd" class="form-control" id="pwd" placeholder="Password" required>
      </div>

<!--       <div class="form-group">
        <label for="conPwd">Confirm</label>
        <input type="password"  name="userConPwd" class="form-control" id="conPwd" placeholder="Confirm" required>
      </div> -->
      <div class="g-recaptcha" data-sitekey="6Lf4dz4UAAAAAIl_YEOYTkAMuMeCvKgt0X5uNWoA"></div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock%}