{% extends 'base.html' %}
{% load static %}
<!-- login title -->
{% block title %}登入{% endblock %}
<!-- login css files -->
{% block link %}
  <link rel="stylesheet" href="{% static 'users/css/login.css'%}">
{% endblock %}

<!-- login contnet -->
{% block content %}
<div class="bg_img"></div>
<div class="login_sec">
    <div class="container">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <form action="" method="post">
          {% csrf_token %}
          <div class="form_tit">會員登入</div>
          {% for msg in messages %}
            <div class="inputfalse_msg">{{msg}}</div>
          {% endfor %}
          <div class="form-group">
            <label class="form_icon" for="username"><span class="glyphicon glyphicon-user"></span></label>
            <input class="form_input" type="text" placeholder="請輸入帳號" name="username" required>
          </div>
          <div class="form-group">
            <label class="form_icon" for="password"><span class="glyphicon glyphicon-lock"></span></label>
            <input class="form_input" type="password" placeholder="請輸入密碼" name="userPwd" required>
          </div>
          <div class="g-recaptcha" data-sitekey="6Lf4dz4UAAAAAIl_YEOYTkAMuMeCvKgt0X5uNWoA"></div>
          <div class="form_footer">
            <div class="notice_gp">
              <span><a href="" class="notice">忘記密碼？</a></span>
              <span>成為會員<span class="glyphicon glyphicon-menu-right"></span><a href="/users/sign_up/" class="notice">註冊</a></span>
            </div>
            <button class="login_btn" type="submit" name="button">登入</button>
          </div>
        </form>
      </div>
      </div>
  </div>
{% endblock %}

{% block javascript %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock%}