{% extends 'base.html' %}
{% load static %}
<!-- login title -->
{% block title %}會員專區{% endblock %}
<!-- login css files -->
{% block link %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'strategies/css/strategies.css' %}">
{% endblock %}

<!-- login contnet -->
{% block content %}

<div class="strate_sec">
  <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="cate_btn_gp">
            <ul class="cate_btn">
             AAA
            </ul>
          </div>
        </div>
        <div class="col-md-12 col-lg-8">
          <ul class="member_lv">
            
          </ul>
        </div>
      </div>

      <div class="row">
        
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
              </div>
             </div>


             <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
              </div>
             </div>


             <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
              </div>
             </div>


             <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
              </div>
             </div>
     
      </div>
  


{% endblock %}

{% block javascript %}{% endblock %}