{% extends 'base.html' %}
{% load static %}

{% block title %}{{results.name}}{% endblock %}

{% block link %}{% endblock %}


<!-- strategies listing content block -->
{% block content %}
  {% for msg in messages %}
    <div class="alert alert-{{msg.tags}}" role="alert">{{msg}}</div>
  {% endfor %}

  <div class="card">
	  <div class="card-header">
	    {{results.name}}aaaaa
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">{{results.name}}</h5>
	    <p class="card-text">
			<ul>
				<li>{{results.category}}</li>
				<li>{{results.level}}</li>
				<li>{{results.name}}</li>
				<li>{{results.description}}</li>
				<li>{{results.standard}}</li>
				<li>{{results.avg_return}}</li>
				<li>{{results.avg_return}}</li>
				<li>{{results.total_return}}</li>
				<li>{{results.max_return}}</li>
				<li>{{results.total_transa}}</li>
				<li>{{results.max_loss}}</li>
				<li>{{results.win_percent}}</li>
				<li>{{results.like}}</li>
				<li>{{results.create_date}}</li>
				<li>{{results.modify_date}}</li>
				<!-- <li><h3>{{user_profile}}</h3></li> -->
			</ul>
	    </p>
	    <a href="{{results.files_dir.url}}" class="btn btn-primary" download>Dowload here!</a>
	  </div>
  </div>
{% endblock %}

{% block javascript %}{% endblock %}