{% extends 'base.html' %}
{% load static %}

{% block title %}
    TrackIn - Strategies
{% endblock %}

{% block link %}
	<link rel="stylesheet" href="{% static 'strategies/css/strategies.css' %}">
{% endblock %}

<!-- strategies listing content block -->
{% block content %}



<div class="strate_sec">
  <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="cate_btn_gp">
            <ul class="cate_btn">
             {% for item in CATELOG_LIST %}
             	<li>
             	  <a href="{% url 'category_url' item %}">
             	  	{% if item == 'bull' %}
             	  		多頭策略
             	  	{% else %}
             	  		空頭策略
             	  	{% endif %}
             	  </a>
             	</li>
			 {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-md-12 col-lg-8">
          <ul class="member_lv">
          	{% for item in LEVEL_LIST %}
          		<li>
          		  <a href="{% url 'listing_url' category item %}">
          		    {% if item == 'normal' %}
             	  		普通會員
             	  	{% elif item == 'golden'%}
             	  		黃金會員
             	  	{% elif item == 'platinum'%}
             	  		白金會員
             	  	{% else %}
             	  		鑽石會員
             	  	{% endif %}
          		  </a>
          		</li>
          	{% endfor %}
          </ul>
        </div>
      </div>

      <div class="row">
      	{% for item in result_list %}
       	 	<div class="col-sm-12 col-md-6 col-lg-4">
	          <div class="card text-center">
	            <!-- 放策略細節連結 -->
	            <a href="{% url 'details_url' item.id%}" class="card-body">
	              <div class="strate_title">{{item.name}}</div>

	              <div class="strate_body">
	                <!-- 放策略雷達圖 -->
	                <div class="strate_radar"></div>
	                <div class="strate_info_sec">
		                <div class="strate_info">
		                  <!-- 放策略平均報酬率資訊 -->
		                  <div>勝率</div>
		                  <span>{{item.win_percent}}%</span>
		                </div>
		                <div class="strate_info">
		                  <!-- 放策略平均報酬率資訊 -->
		                  <div>平均報酬率</div>
		                  <span>{{item.avg_return}}%</span>
		                </div>
		                <div class="strate_info">
		                  <!-- 放策略平均報酬率資訊 -->
		                  <div>最大虧損率</div>
		                  <span>{{item.max_loss}}%</span>
		                </div>
	                </div>
	              </div>
	            </a>
	          </div>
       		 </div>
		{% endfor %}
      </div>


<!-- 



	<ul class="nav justify-content-center">
		{% for item in CATELOG_LIST %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'category_url' item %}">{{item}}</a>
			</li>
		{% endfor %}
	</ul>

	<ul class="nav justify-content-center">
		{% for item in LEVEL_LIST %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'listing_url' category item %}">{{item}}</a>
			</li>
		{% endfor %}
	</ul>


	<div class="row">
	{% for item in result_list %}
	  <div class="col-sm-12 col-md-4">
	    <div class="card border-primary mb-3" style="max-width: 18rem;">
	      <div class="card-body">
	        <h5 class="card-title">{{item.name}}</h5>
	        <p class="card-text">{{item.description}}.</p>
	        <a href="{% url 'details_url' item.id%}" class="btn btn-primary">Detail</a>
	      </div>
	    </div>
	  </div>
	 {% endfor %}
	</div>
  </div>
</div> -->

<!-- 	<ul>
		{% for item in result_list %}
			<li>{{item.name}}</li>
			<li><a href="{{item.files_dir.url}}" download>
				Download here
			</a></li>
		{% endfor %}
	</ul> -->
{% endblock %}

{% block javascript %}{% endblock %}